.icon-add {
    background-image: url(../images/gray/icons/add.png) !important;
}

.icon-edit {
    background-image: url(../images/gray/icons/edit.png) !important;
}

.icon-remove {
    background-image: url(../images/gray/icons/remove.png) !important;
}

.icon-clear {
    background-image: url(../images/gray/icons/clear.png) !important;
}

.icon-filter {
    background-image: url(../images/gray/icons/filter.png) !important;
}

.icon-filter-col {
    background: url(../images/gray/icons/filter.png) no-repeat 0 0 !important;
}

.icon-ok {
    background: url(../images/gray/icons/ok.png) no-repeat 0 0 !important;
}

.icon-print {
    background: url(../images/gray/icons/print.png) no-repeat 0 0 !important;
}

.icon-rotate {
    background: url(../images/gray/icons/rotate.png) no-repeat 0 0 !important;
}

.icon-scan {
    background: url(../images/gray/icons/scan.png) no-repeat 0 0 !important;
}

.icon-config {
    background: url(../images/gray/icons/config.png) no-repeat 0 0 !important;
}

.icon-room-type {
    background: url(../images/gray/icons/room-type.png) no-repeat 0 0 !important;
}

.icon-tariff {
    background: url(../images/gray/icons/tariff.png) no-repeat 0 0 !important;
}

.icon-priceing {
    background: url(../images/gray/icons/priceing.png) no-repeat 0 0 !important;
}

.icon-limit {
    background: url(../images/gray/icons/limit.png) no-repeat 0 0 !important;
}

.icon-chanel {
    background: url(../images/gray/icons/chanel.png) no-repeat 0 0 !important;
}

.icon-support {
    background: url(../images/gray/icons/support.png) no-repeat 0 0 !important;
}

.icon-manual {
    background: url(../images/gray/icons/manual.png) no-repeat 0 0 !important;
}

.icon-exit-min {
    background: url(../images/gray/icons/exit-min.png) no-repeat 0 0 !important;
}

.icon-edit-room-desc {
    background: url(../images/gray/icons/edit-room-desc.png) no-repeat 0 0 !important;
}

.icon-edit-room-servises {
    background: url(../images/gray/icons/edit-room-servises.png) no-repeat 0 0 !important;
}

.icon-view {
    background: url(../images/gray/icons/view.png) no-repeat 0 0 !important;
}

.icon-photos {
    background: url(../images/gray/icons/photos.png) no-repeat 0 0 !important;
}

.icon-info {
    background: url(../images/gray/icons/info.png) no-repeat 0 0 !important;
}

.icon-costume-data {
    background: url(../images/gray/icons/costume-data.png) no-repeat 0 0 !important;
}

.icon-desc {
    background: url(../images/gray/icons/desc.png) no-repeat 0 0 !important;
}

.icon-upload {
    background: url(../images/gray/icons/upload.png) no-repeat 0 0 !important;
}
