.room-info {
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    padding: 15px 12px;
    border: 1px solid #dedede;
    background-color: #fdfdfd;
    position: relative;
    margin: 5px 0px 10px 0px;
}

.isroom {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding: 5px 12px;
    background-color: #5ba8ed;
    border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
}

.roomTypePhoto a {
    margin: 0 5px 0 0;
}

body {
    /*padding-bottom: 40px;*/
}

.datepicker {
    margin-top: 0 !important;
}

.ng-dirty {
}

.ng-pristine {
}

.ng-invalid {
}

.ng-valid {
}

.booking-button {
    margin: 0px;
    padding: 7px 15px 7px 15px;
    display: block;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    background: -moz-linear-gradient(top, #ffa800 0%, #ed6400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa800), color-stop(100%, #ed6400));
    background: -webkit-linear-gradient(top, #ffa800 0%, #ed6400 100%);
    background: -o-linear-gradient(top, #ffa800 0%, #ed6400 100%);
    background: -ms-linear-gradient(top, #ffa800 0%, #ed6400 100%);
    background: linear-gradient(to bottom, #ffa800 0%, #ed6400 100%);
}

.booking-button:hover {
    background: #ed6400;
    padding: 7px 15px 7px 15px;
    background: -moz-linear-gradient(top, #ed6400 0%, #ffa800 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ed6400), color-stop(100%, #ffa800));
    background: -webkit-linear-gradient(top, #ed6400 0%, #ffa800 100%);
    background: -o-linear-gradient(top, #ed6400 0%, #ffa800 100%);
    background: -ms-linear-gradient(top, #ed6400 0%, #ffa800 100%);
    background: linear-gradient(to bottom, #ed6400 0%, #ffa800 100%);
    color: #fff;
    font-weight: bold;
}

.header, .footer {
    background: url('../../button/img/design/table-head-bg.png') repeat-x;
    height: 77px;
    padding: 10px 10px 0 10px;
}

.img-thumbnail {
    border-radius: 0 !important;
}

.header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.footer {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.roomType-header {
    width: 235px;
    border-right: 1px solid #cccccc;
    height: 62px;
    padding-top: 20px;
    text-align: center;
}

.orderForm input[type="text"], input[type="email"] {
    width: 244px;
    border: 1px solid #643f7c !important;
    height: 40px;
}

.roomsForm {
    -webkit-box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.67);
    -moz-box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.67);
    box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.67);
    border-radius: 10px;
}

.modal-dialog {
    border: 1px solid #714997;
    border-radius: 7px;
}

ul.facilities {
    list-style-image: url('../../button/img/design/checkbox.png');
    color: #747474;
}

.no-border {
    padding: 0;
    border: 0;
}

/*select*/
.booking-button-big {
    margin: 20px auto 0 auto;
    display: block;
    padding: 7px 15px 7px 15px;
    text-align: center;
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    background: -moz-linear-gradient(top, #ffa800 0%, #ed6400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa800), color-stop(100%, #ed6400));
    background: -webkit-linear-gradient(top, #ffa800 0%, #ed6400 100%);
    background: -o-linear-gradient(top, #ffa800 0%, #ed6400 100%);
    background: -ms-linear-gradient(top, #ffa800 0%, #ed6400 100%);
    background: linear-gradient(to bottom, #ffa800 0%, #ed6400 100%);
}

.booking-button-big:hover {
    background: #ed6400;
    padding: 7px 15px 7px 15px;
    background: -moz-linear-gradient(top, #ed6400 0%, #ffa800 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ed6400), color-stop(100%, #ffa800));
    background: -webkit-linear-gradient(top, #ed6400 0%, #ffa800 100%);
    background: -o-linear-gradient(top, #ed6400 0%, #ffa800 100%);
    background: -ms-linear-gradient(top, #ed6400 0%, #ffa800 100%);
    background: linear-gradient(to bottom, #ed6400 0%, #ffa800 100%);
    color: #fff;
    font-weight: bold;
}

.booking-button-big[disabled=disabled], .booking-button-big:disabled {
    background: #ed6400;
    padding: 7px 15px 7px 15px;
    background: -moz-linear-gradient(top, #ed6400 0%, #ffa800 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ed6400), color-stop(100%, #ffa800));
    background: -webkit-linear-gradient(top, #ed6400 0%, #ffa800 100%);
    background: -o-linear-gradient(top, #ed6400 0%, #ffa800 100%);
    background: -ms-linear-gradient(top, #ed6400 0%, #ffa800 100%);
    background: linear-gradient(to bottom, #ed6400 0%, #ffa800 100%);
    color: #fff;
    font-weight: bold;
}

.orderForm label {
    color: #fff;
    font-weight: 400;
}

.orderForm .formTable {
    background-color: #8a62a8;
    width: 100%;
}

.formContainer {
    border-top: 0;
}

.orderForm {
    -webkit-box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.67);
    -moz-box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.67);
    box-shadow: 0 0 16px 0 rgba(50, 50, 50, 0.67);
    border-radius: 10px;
}

.container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}